{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>
        Welcome to our blog platform, where you can discover a wealth of insightful content on a 
        variety of topics without the need for an account. Whether you're seeking inspiration,
        knowledge, or simply a good read, our platform offers an open door to a world of engaging
        posts contributed by our diverse community of writers. While browsing our blog, you'll find
        thought-provoking articles, helpful guides, and entertaining stories to suit every interest
        and curiosity.
        <p>
            A blog, short for weblog, is a frequently updated web page used for personal commentary or 
        business content. Blogs are often interactive and include sections at the bottom of individual
        blog posts.
        </p> 
    </p>
    
       
</div>

{% endblock content %}